<div class="flex fixed p-2 w-1/6 bg-white dark:bg-gray-800 h-full md:block xl:block hidden shadow overflow-y-scroll">
        <ul class="flex flex-col w-full ">
            <li class="my-px sticky top-0">
                <a
                   class="cursor-pointer flex flex-row items-center h-12 px-4  text-gray-600 bg-gray-100">
                    <span class="flex items-center justify-center text-lg text-gray-500">
                        <svg fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             class="h-6 w-6">
                            <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </span>
                    <span class="ml-3">Home</span>
                </a>
            </li>
            <li class="my-px">
                <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">Projects</span>
            </li>
            <li class="my-px" *ngFor="let menu of menus">
                <a (click)="onClickMenu(menu.link)"
                   class="flex cursor-pointer flex-row items-center h-12 px-4 text-gray-500 hover:bg-gray-200">
                    <span class="flex items-center justify-center text-lg text-gray-500">
                        <hero-icon [name]="menu.icon.name" [type]="menu.icon.type" class="w-4 h-4"></hero-icon>
                    </span>
                    <span class="ml-3">{{menu.data.headerTitle}}</span>
                </a>
            </li>
        </ul>
    </div>